:root {
  --color-black: #141414;
  --color-gray: #222222;
  --screen-index: calc(1vw + 1vh);
  --wave-transition: cubic-bezier(0.15, 0.85, 0.45, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-black);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wave {
  display: flex;
  gap: 8px;
  perspective: calc(var(--screen-index) * 32);
}

.wave__option {
  width: calc(var(--screen-index) * 3);
  height: calc(var(--screen-index) * 12);
  background-color: var(--color-gray);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  cursor: pointer;
  filter: grayscale() brightness(0.5);
  transition: transform 1.25s var(--wave-transition), filter 3s var(--wave-transition),
    width 1.25s var(--wave-transition);
  will-change: transform, filter;
}

.wave__option::before,
.wave__option::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
}

.wave__option::before {
  right: calc(var(--screen-index) * -0.8);
}

.wave__option::after {
  left: calc(var(--screen-index) * -0.8);
}

.wave__option:hover {
  filter: inherit;
  transform: translateZ(calc(var(--screen-index) * 10));
}

/* Right side */

.wave__option:hover + * {
  filter: inherit;
  transform: translateZ(calc(var(--screen-index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.wave__option:hover + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--screen-index) * 5.5)) rotateY(40deg);
  z-index: -2;
}

.wave__option:hover + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--screen-index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.wave__option:hover + * + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--screen-index) * 0.5)) rotateY(15deg);
  z-index: -4;
}

/* Left side */

.wave__option:has(+ :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--screen-index) * 8.5)) rotateY(-35deg);
}

.wave__option:has(+ * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--screen-index) * 5.5)) rotateY(-40deg);
}

.wave__option:has(+ * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--screen-index) * 2.5)) rotateY(-30deg);
}

.wave__option:has(+ * + * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--screen-index) * 0.5)) rotateY(-15deg);
}

.wave__option:active,
.wave__option:focus {
  width: 25vw;
  filter: inherit;
  z-index: 100;
  transform: translateZ(calc(var(--screen-index) * 10));
  margin: 0 0.5vw;
}
