:root {
  --color-white: #ffffff;
  --color-black: #141414;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-white);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-background);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 12px;
}

.content {
  display: flex;
  width: 100%;
  max-width: 960px;
  height: 400px;
  gap: 12px;
}

@media (max-width: 767px) {
  .content {
    flex-direction: column;
    min-height: 100vh;
  }
}

.content__item {
  flex-grow: 1;
  flex: 0 0 80px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  transition: flex-grow 1.25s cubic-bezier(0.15, 0.85, 0.45, 1);
}

.content__item:not(.content__item_active) {
  cursor: pointer;
}

.content__item_active {
  flex-grow: 6;
}
